// scheme 01

$paleyellow : #F8D941;
$palepink : #FD9F9D;
$paleorange : #FE7748;
$paleblue : #70B0B0;
$palegreen : #B6B34B;
$palepurple : #C884A6;
$palegreendark : #709255;
$palered : #FF7171;
$darkgreen : #333E30;

// scheme 02

$pink : #FBC2B7;
$blue : #0C20B3;
$lightblue : #034A82;
$orange : #FA8615;
$yellow: #F8D941;

//RETRO SCHEME

$retrowhite : #F5F5F5;
$retropeach : #E9C8B8;
$retroyellow : #e9b73a;
$retroorange : #e06641;
$retroblossom : #E8968F;
$retropink : #e67a8a;
$retroredhot : #E6442A;
$retroteal : #42ADA7;
$retropeacock : #28979A;
$retrogreen : #1c4139;
$retrosea : #064C72;
$retropurple : #685374;
$retromidnight : #171516;

