.geocode {
  width: 100%;
  height: 100%;
  }

.mapboxgl-map {
  border-radius: .5rem;
}

 // PERMET DE 'CACHER' LE LOGO MAPBOX ET LE COPYRIGHT EN BAS DE LA CARTE
.mapboxgl-ctrl-attrib-inner,
.mapboxgl-ctrl-attrib,
.mapboxgl-ctrl-bottom-left {
  display: none;
}

.geolocate_area {
  // display: none;
  z-index: 1;
}

